<div id="social">
  <h2>Follow us:</h2>
  <a class="social" href="#"><i class="fab fa-whatsapp"></i></a>
  <a class="social" href="#"><i class="fab fa-youtube"></i></a>
  <a class="social" href="#"><i class="fab fa-instagram"></i></a>
  <a class="social" href="#"><i class="fab fa-linkedin"></i></a>
  <a class="social" href="#"><i class="fab fa-twitter"></i></a>
</div>
</body>
</html>
