
<%- include('header'); -%>
<div class="home1">
<img class="homeimg" src="https://i.pinimg.com/originals/e5/3a/9d/e53a9dd8ba2e3386e39ad7ca6893f1f9.jpg" alt="">
<h1>Welcome to Digitalflow</h1>
<p>Our realtion to be Strong</p>
<button class="home" type="button" name="button"><a href="/login">Login</a></button>
</div>
<%- include('footer'); -%>
