<%- include('header'); -%>
<div class="sec1">
<img class="homeimg" src="https://i.pinimg.com/originals/e5/3a/9d/e53a9dd8ba2e3386e39ad7ca6893f1f9.jpg" alt="">
<h1>Thanks for visit here</h1>
<button type="button" name="button"><a href="/logout"></a></button>
</div>
<%- include('footer'); -%>
